<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Go Practice</title>

	<style>
		input {
			font-size: 19px;
		}

		input[name="symbol"] {
			width: 250px;
			padding: 10px 10px;
		}

		input[type="submit"] {
			border: none;
			padding: 10px;
			font-size: 20px;
			margin-left: 5px;
			cursor: pointer;
		}

		table {
			border: 2px solid #b3b3cc;
			margin-top: 20px;
			font-size: 19px;
		}

		td {
			padding: 5px;
		}

		div.description {
			margin-top: 3px;
			font-size: 15px;
			color: grey;
		}
	</style>
</head>
<body>
<h1>Start your stock list</h1>

<div>


	<form name="searchStock" action="search">
		<input type="text" name="symbolInput" placeholder="Symbol or Stock Name"/>
		<input type="hidden" name="symbol"/>
		<input type="submit" value="search" name="submitButton"/>
	</form>

	{{if .}}
	<table border="1">
		<tbody>
		<tr>
			<td style="font-size: 15px;">Add to your list</td>
			<td>Name</td>
			<td>Price</td>
			<td>Symbol</td>
			<td>Volume</td>
		</tr>

		{{range .}}
		<tr>
			<td align="center">
				<form action="addToList">
					<button name="addButton" class="addButton">Add</button>
					<input type="hidden" class="symbolForAdd" name="symbolForAdd" value="{{.Resource.Fields.Symbol}}"/>
					<input type="hidden" name="stockName" value="{{.Resource.Fields.Name}}"/>
					<input type="hidden" name="username" value="Jay"/>
				</form>

			</td>
			<td>
				{{.Resource.Fields.Name}}
			</td>
			<td>
				{{.Resource.Fields.Price}}
			</td>
			<td>
				{{.Resource.Fields.Symbol}}
			</td>
			<td>
				{{.Resource.Fields.Volume}}
			</td>
		</tr>
		{{end}}

		</tbody>
	</table>

	{{else}}

	<div class="description">
		Please enter symbol to search the stock quote
	</div>

	{{end}}

	<div id="customList">

	</div>


</div>
</body>
<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<script>


	$(document).ready(function(){
		var symbolList = "";
		var input = $('input[name="symbolInput"]');
		var symbolHidden = $('input[name="symbol"]');
		var history = $('input[name="symbolForAdd"]');
		var button = $('input[name="submitButton"]');
		var addButton = $('input[name="addButton"]');

		input.focus();

		$.each(history, function(i, val){
			symbolList += $(val).val() + ",";
		});

		button.on('click', function(){
			symbolList += input.val();
			symbolHidden.val(symbolList);

		});

		addButton.add('click', function(){
			$(this).parent("form").submit();
		});

	});



</script>
</html>